
@model ReflectionIT.Mvc.Paging.PagingList<Question>
@addTagHelper *,ReflectionIT.Mvc.Paging


@addTagHelper *, ReflectionIt.Mvc.Paging

@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oto zestaw pytań:</h2>






<form asp-action="Questions" method="post" asp-controller="Home">
    @for (int i = 0; i < Model.Count(); i++)
    {


        <div class="card panel-default form-group" style="margin-top: 30px;">
            <strong style="padding:10px;">@Model[i].Id</strong>
            <div class="card-body">
                @Model[i].Content
            </div>
            <div>
                <select required class="form-control" asp-for="@Model[i].Answer" asp-items="@Html.GetEnumSelectList<Answer>()"></select>

                <span asp-validation-for="@Model[i].Answer" class="text-danger"></span>
            </div>
        </div>
    }


    @if (Model.PageIndex < 13)
    {
        <button type="submit" class="btn btn-primary btn-lg btn-block" role="button">Dalej</button>
    }
    else
    {
        <button type="submit" class="btn btn-success btn-lg btn-block">Gotowe!</button>
    }




    <hr />


</form>



